@media screen and (max-width:480px){
    
    header{
        padding: 15px;

        li{
            margin:0.3rem;

    }

    footer{
        background-color: #e5fd4f;
    
        .footer-content{
            padding: 0;
            margin: 5px;
    
            .link{
                padding-bottom: 20px;
                
                li{
                    display: inline;
                    justify-content:center;
                    text-decoration: none;
                }
            }
        }
    }
}
}