*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding:0;
    margin: 0;
    flex-wrap: wrap;
}

/*DESKTOP*/
@media only screen and (min-width:600px)and (max-:1200px) {
  
}
/*MOBILE*/
@media only screen and (max-width:480px) {
  
}

/*COLOR DE FONDO*/
body{
    background-color: #2D2D2D;
}

/*HEADER NAVEGABLE*/
header{
    background-color: #e5fd4f; 
    display: flex;
    justify-content: space-around;
    }

header img{
width: 80px;
}

.navegable{
    display:flex;
    list-style-type: none;
    margin-top: 30px;
}
.navegable li a {
    color:#2D2D2D;
    text-decoration: none;
    padding: 10px;
    margin: 3px;
    border: 1px solid #2D2D2D;
    border-radius: 10px;
}

.navegable li a:hover{
    background-color: #2D2D2D;
    color:#e5fd4f;
    transition: 0.5s;
}
.boton-ham{
    width: 20px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    display:none;
    background-color: red;
}

/*ESTILO DE INICIO*/
.imagen-rubro{
    width: 100%;
    align-items: center;
}

main{
    background-color: #cfcfc7;
    margin: 20px 5px;
    text-align:justify ;
    }
    
main section h1{
    margin: 10px;
    padding: 10px;
}
main p{
    padding: 10px;
}

h1{
    font-style: oblique;
    font-weight: normal;
}

/*ESTILOS DE SERVICIOS*/
.grid-container-serv{
    margin:5px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(2,1fr); padding: 10px;
    align-items: center;
    align-content: center;
}

/*ESTILOS DE CONTACTO*/
.contacto{
    text-align: center;
}
/*FOOTER DE PÁGINA*/
.footer { background-color: #e5fd4f;
}

.footer-content{
    padding: 0;
    margin: 5px;
}

.link{
    padding-bottom: 20px;
}

.link li {
    display: inline;
    justify-content: space-between;
    text-decoration: none;
}