section{
    h1{
        margin: 10px;
        padding: 10px;
        font-style: oblique;
        font-weight: bold;
    }
    
    p{
        padding: 10px;
    }
    
    .img-rubro-ppal{
        align-items: center;
        margin: 10px;
    }
}
