//LINK DE PARCIAL VARIABLES
@import "../utilities/variables";

header{
    background-color:$color-principal;
    display: flex;
    justify-content: space-around;
    height: 80px;
    
    .vlc-logo{
        img{
            width: 80px;
        }
    }
    .navbar{
        background-color: $color-principal;
        .nabvar-expand-lg{
            background-color: $color-principal;
            .bg-body-tertiary{
                background-color: $color-principal;
                padding: 8px;

            }
        }
        .container-fluid{
            background-color: $color-principal;
            padding:10px;
        }
        .navbar-toggler{
            color:$color-principal;
            padding:10px;
            .navbar-toggler-icon{
                width: 30px;
        
                }
            }
        }
    }

    