//LINK DE PARCIAL VARIABLES
@import "../utilities/variables";
@import "../base/reset";

header{
    background-color:$color-principal;
    display: flex;
    justify-content: space-between;
    height: 80px;
    
    .vlc-logo{
        img{
            width: 80px;
        }
    }
    .nav-item{
        background-color: $color-principal;
        border-radius: 2px;
        align-items: center;
        padding: 10px;
    }
    .container-fluid{
        background-color: $color-principal;
        display: flex;
        justify-content: space-between;
    }
    .navbar-collapse{
        align-items: center;
    }
    .container-fluid{
        background-color: $color-principal;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .nav-item{
        background-color: $color-principal;
        border-radius: 2px;
        align-items: center;
        border: 1px solid black;
        border-radius: 5px;
        &hover{background-color: #2d2d2d;
            color:$color-principal;
            transition: 0.5s;
            }
        }
}